<div class="account_book">
  <%@logs.each do |log|%>
  <ul class="list">
    <li class="color-gray clearfix">
      提现金额：<span class="color-red">￥<%= log.amount%></span>
      <span class="date color-white_gray"><%= log.created_at.strftime("%Y-%m-%d %H:%M:%S")%></span>
    </li>
    <div class="line1"></div>
    <li class="color-black_gray">
      <td class="state_<%= log.state%>"><%= t "activerecord.attributes.withdraw.states.#{log.state}"%></td>
    </li>
    <div class="space1"></div>
  </ul>
  <%end%>
</div>