<%@title = params[:title]||"申请提现"%>

<div class="recharge">
  <%= form_tag member_withdraws_path do %>
  <div class="new">
    <div class="money">
      <span class="title">可提余额：</span>
      <span class="balance color-red">￥<%= current_user.balance%></span>
    </div>
    <div class="money color-gray">
      <span class="title">充值金额：</span>
      <span>
        <input type="text" class="color-black_gray" placeholder="请输入充值金额" name="amount" />
      </span>
      <div class="line1"></div>
    </div>
    <div class="blank1"></div>
    <div class="btn">
      <input type="submit" value="提现" />
    </div>
  </div>
  <%end%>
</div>