a{text-decoration: none}
a:hover{text-decoration: none;}


@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: verdana;
  /*处理BUG*/
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none; }

a {
  text-decoration: none; }

li {
  list-style: none; }

/*全局设置字号*/
html {
  font-size: 10px; }

@media screen and (min-width: 320px) and (max-width: 375px) {
  html {
    font-size: 13px; } }
@media screen and (min-width: 376px) and (max-width: 414px) {
  html {
    font-size: 15px; } }
@media screen and (min-width: 415px) {
  html {
    font-size: 18px; } }
/*开启硬件加速*/
.Ac {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/*常用配置*/
.wrap {
  max-width: 640px;
  margin: auto; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.hidden {
  display: none; }

.clear {
  clear: both; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto; }

.img-circle {
  border-radius: 50%; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.row {
  width: 100%;
  clear: both; }

.blank05 {
  height: 0.5rem;
  clear: both;
  overflow: hidden; }

.blank1 {
  height: 1rem;
  clear: both;
  overflow: hidden; }

.blank2 {
  height: 2rem;
  clear: both;
  overflow: hidden; }

.bk-white {
  background: #FFFFFF; }

.bkgray {
    background: #f6f6f6; }

.fontgray {
      background: #999999; }

.color-red {
  color: #f96751; }

.pr {
  position: relative; }

.pa {
  position: absolute; }

.pf {
  position: fixed; }

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }
  
.font_white{color: white;}
  
.banner-box {
  width: 100%;
  max-height: 9rem;
  overflow: hidden; }

.banner-box ul.banner-nr {
  width: 1000000px; }

.banner-box ul li {
  float: left; }

.banner-dian {
  z-index: 100px;
  left: 50%;
  top: 7rem; }

.banner-dian li {
  width: 0.6rem;
  height: 0.6rem;
  background: #e2dbdf;
  border-radius: 0.3rem;
  margin-left: 0.5rem; }

.banner-dian li.current {
  background: #FFFFFF; }
  

  
  
  
  
  
@font-face {font-family: "iconfont";
  src: url('iconfont.ttf?t=1464362027') format('truetype');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;}
}
.icon-dingwei:before { content: "\e639"; }
.icon-fangdajing:before { content: "\e625"; }
.icon-zhuye:before { content: "\e648"; }
.icon-xinxi:before { content: "\e604"; }
  
  
  
  
  
#header{background: #f96751; height: 2.4rem; padding-top: 0.5rem;}
#header .area{float: left; font-size: 0.6rem; padding-left: 1rem; line-height: 1.5rem;}
#header .search .box{border: white solid 1px;height: 1.5rem; width:75%;  position: relative; border-radius: 15px; overflow: hidden;}
#header .search .input{border:none ;width: 250px; height:28px; line-height: 28px; padding-left: 10px;outline:none; background: #f96751; color: white;}
#header .search .btn{position: absolute; right: 0px; top: 0px; line-height: 1.5rem; width: 30px;}

.trade_categories ul{margin-top: 1rem;}  
.trade_categories ul li{width: 25%; float: left; text-align: center;}


.space05 {
  height: 0.5rem;
  clear: both;
  overflow: hidden; 
  border: solid 1px #dddddd;
  background: #F8F8F8;
  display: block;
}

.info_list{width: 100%; }
.info_list .context{width: 98%; float: right;}
.info_list .context .header{width: 100%; height: 1.5rem; border-bottom: solid 1px #dddddd; }
.info_list .context .header .title{border-left: solid 0.1rem #F96751; color: #F96751; padding-left: 0.5rem; line-height: 1.2rem;
}
.info_list .context .body{width: 100%;}
.info_list .context .body .info li{width: 100%; border-bottom: solid 1px #dddddd;}
.info_list .context .body .info li .img{float: left; width: 20%; height: 5rem; display: block;}
.info_list .context .body .info li .img img{width: 100%; height: 100%;}
.info_list .context .body .info li .content{float: right; width: 80%; height: 5rem;}
.info_list .context .body .info li .content .title{font-weight: bold; font-size: 1.5rem;}
.info_list .context .body .info li .content .desc{}
.info_list .context .body .info li .content .attrs{display: block; float: left;}
  
  
  
  