body{background: #f8f8f8;}
a{text-decoration: none}
a:hover{text-decoration: none;}


@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: verdana;
  /*处理BUG*/
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none; }

a {
  text-decoration: none; }

li {
  list-style: none; }

/*全局设置字号*/
html {
  font-size: 10px; }

@media screen and (min-width: 320px) and (max-width: 375px) {
  html {
    font-size: 13px; } }
@media screen and (min-width: 376px) and (max-width: 414px) {
  html {
    font-size: 15px; } }
@media screen and (min-width: 415px) {
  html {
    font-size: 18px; } }
    
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: white;  
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: white;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: white;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: white;
}

/*开启硬件加速*/
.Ac {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/*常用配置*/
.wrap {
  max-width: 640px;
  margin: auto; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.hidden {
  display: none; }

.clear {
  clear: both; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto; }

.img-circle {
  border-radius: 50%; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.row {
  width: 100%;
  clear: both; }

.blank05 {
  height: 0.5rem;
  clear: both;
  overflow: hidden; 
  background: white;}

.blank1 {
  height: 1rem;
  clear: both;
  overflow: hidden; 
  background: white;}

.blank2 {
  height: 2rem;
  clear: both;
  overflow: hidden; 
  background: white;}

.bk-white {
  background: #FFFFFF; }

.bk-gray {
    background: #f8f8f8; }

.color-white {
      color: white!important; }      

.color-gray {
      color: #999999; }
      
.color-black_gray {
      color: #666666; }

.color-red {
  color: #f96751; }

.pr {
  position: relative; }

.pa {
  position: absolute; }

.pf {
  position: fixed; }

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }
  
.font_white{color: white;}
  
.banner-box {
  width: 100%;
  max-height: 9rem;
  overflow: hidden; }

.banner-box ul.banner-nr {
  width: 1000000px; }

.banner-box ul li {
  float: left; }

.banner-dian {
  z-index: 100px;
  left: 50%;
  top: 7rem; }

.banner-dian li {
  width: 0.6rem;
  height: 0.6rem;
  background: #e2dbdf;
  border-radius: 0.3rem;
  margin-left: 0.5rem; }

.banner-dian li.current {
  background: #FFFFFF; }
  

  
  
  
  
  
@font-face {font-family: "iconfont";
  src: url('iconfont.ttf?t=1464362027') format('truetype');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;}
}
.icon-tubiao:before { content: "\e600"; }
.icon-zhinenghuaxuanpinicon5:before { content: "\e603"; }
.icon-dianhua:before { content: "\e601"; }
.icon-pan:before { content: "\e602"; }
.icon-shoucang:before { content: "\e604"; }
.icon-zuobiao:before { content: "\e605"; }
.icon-shouye:before { content: "\e609"; }
.icon-dingwei:before { content: "\e606"; }
.icon-xiaoxi:before { content: "\e607"; }
.icon-huiyuanshu:before { content: "\e608"; }

  
  
  
  
  
#header{background: #f96751; height: 2.4rem; padding-top: 0.5rem;}
#header .area{float: left; font-size: 0.6rem; padding-left: 1rem; line-height: 1.5rem;}
#header .search .box{border: white solid 1px;height: 1.5rem; width:75%;  position: relative; border-radius: 15px; overflow: hidden;}
#header .search .input{border:none ;width: 250px; height:1.5rem; line-height: 1.5rem; padding-left: 10px;outline:none; background: #f96751; color: white;}
#header .search .btn{position: absolute; right: 0px; top: 0px; line-height: 1.5rem; width: 30px;}

.trade_categories ul{margin-top: 1rem;}  
.trade_categories ul li{width: 25%; float: left; text-align: center;}
.trade_categories ul li img{width: 50%;}


.space1 {
  height: 1rem;
  clear: both;
  overflow: hidden; 
  border: solid 1px #dddddd;
  background: #F8F8F8;
  display: block;
}

.info_list{width: 100%; }
.info_list .context{width: 98%; float: right;}
.info_list .context .header{width: 100%; height: 1.5rem; padding-bottom: 0.3rem; padding-top: 0.3rem;}
.info_list .context .header .title{border-left: solid 0.1rem #F96751; color: #F96751; padding-left: 0.5rem; line-height: 1.2rem;
}
.info_list .context .body{width: 100%;}
.info_list .context .body .info li{width: 100%; border-top: solid 1px #dddddd; padding-top: 1rem; padding-bottom: 1rem; }
.info_list .context .body .info li .img{float: left; width: 20%; height: 5rem; display: block;}
.info_list .context .body .info li .img img{width: 100%; height: 100%;}
.info_list .context .body .info li .img_card{float: left; width: 30%; height: 5rem; display: block;}
.info_list .context .body .info li .img_card img{width: 100%; height: 100%;}
.info_list .context .body .info li .content{float: left; height: 5rem; padding-left: 0.5rem;}
.info_list .context .body .info li .content .title{font-weight: bold; font-size: 1.5rem;}
.info_list .context .body .info li .content .desc{padding-top: 0.4rem; padding-bottom: 0.4rem;}
.info_list .context .body .info li .content .attrs{display: block; float: left;}


.trade_info_filter .context{width: 98%; float: right;}
.trade_info_filter .context .header{width: 100%; height: 1.5rem; padding-bottom: 0.3rem; padding-top: 0.3rem;}
.trade_info_filter .context .header .title{border-left: solid 0.1rem #F96751; color: #F96751; padding-left: 0.5rem; line-height: 1.2rem;
}
.trade_info_filter .context .body{width: 100%; border-top: solid 1px #dddddd; }
.trade_info_filter .context .body a{padding: 0.2rem; margin: 0.5rem 0.5rem 0.5rem 0rem; border: solid 1px #dfdfdf; display: inline-block; color: #999999; background: #f8f8f8;}
.trade_info_filter .context .body a.current{color: #f96751; background: #fdedeb; border: solid 1px #ec5b45;}

.trade_info_show{margin: 1rem; background: white;}
.trade_info_show .title{font-size: 1.5rem; font-weight: bold;}
.trade_info_show .price{padding-top: 0.5rem; padding-bottom: 0.5rem; border-bottom: solid 1px #dddddd;}
.trade_info_show .price .ago{float: right;}
.trade_info_show .attrs{width: 100%; border-bottom: solid 1px #dddddd;}
.trade_info_show .attrs li{width: 50%; float: left; margin: 0.5rem auto 0.5rem auto;}
.trade_info_show .act_links{width: 100%; margin: 0.5rem auto 0.5rem auto;}
.trade_info_show .act_links .left{width: 50%; float: left;}
.trade_info_show .act_links .right{width: 50%; float: right; text-align: right;}
.trade_info_show_content{width: 100%; }
.trade_info_show_content .context{width: 98%; float: right;}
.trade_info_show_content .context .header{width: 100%; height: 1.5rem; padding-bottom: 0.3rem; padding-top: 0.3rem;}
.trade_info_show_content .context .header .title{border-left: solid 0.1rem #F96751; color: #F96751; padding-left: 0.5rem; line-height: 1.2rem;
}
.trade_info_show_content .context .body{width: 100%;}

.card_show{width: 100%; background: white;}
.card_show .context{margin-left: 0.5rem;}
.card_show .context .logo{width: 100%;}
.card_show .context .logo img{height: 8rem;}
.card_show .context .header{width: 100%; height: 1.5rem; padding-bottom: 0.3rem; padding-top: 0.3rem;}
.card_show .context .header .title{border-left: solid 0.1rem #F96751; color: #F96751; padding-left: 0.5rem; line-height: 1.2rem;
}
.card_show .context .body{width: 100%; border-top: solid 1px #dddddd; }

.card_show .attrs{width: 100%; background: white;}
.card_show .attrs .context{margin-left: 0.5rem}
.card_show .attrs .context .attr{padding-top: 0.5rem; padding-bottom: 0.5rem; border-bottom: solid 1px #dddddd;}
.card_show_receive_btn{width: 90%; height: 3rem; line-height: 3rem; display: block; background: #eb4f38; color: white; font-size: 1.2rem; text-align: center; margin: 1rem auto 1rem auto;}

.card_list{width: 100%; background: white;}
.card_list li{width: 100%; margin-left: 0.5rem; margin-bottom: 0.5rem; padding-bottom: 0.5rem; border-bottom: solid 1px #dddddd; }
.card_list li .img{float: left; width: 35%; height: 5rem; display: block;}
.card_list li .img img{width: 100%; height: 100%;}
.card_list li .content{float: left; height: 5rem; padding-left: 0.5rem;}
.card_list li .content .title{font-weight: bold; font-size: 1.5rem;}
.card_list li .content .desc{padding-top: 0.4rem; padding-bottom: 0.4rem;}
.card_list li .content .phone{}

.area_list .header{background: #f96751; padding-left: 0.2rem; padding-top: 0.5rem; padding-bottom: 0.5rem;}
.area_list .initial_list{padding-left: 0.4rem; background: white;}
.area_list .initial_list .initial{color: black; font-size: 1.5rem; font-weight: bold; padding-bottom: 0.5rem; border-bottom: solid 1px #dddddd;}
.area_list .initial_list .initial span{font-size: 1rem; font-weight: normal;}  
.area_list .initial_list .districts{width: 100%;}
.area_list .initial_list .districts li{width: 30%; display: inline-block;}
.area_list .initial_list .districts li a{display: block; color: #666666; text-align: center; line-height: 2rem;}

.store_show_block{padding: 1rem; background: white;}
.store_show_block .title{font-size: 1.2rem; width: 80%; float: left;}
.store_show_block .collect{width: 15%; float: right; border-left: solid 1px #dddddd; text-align: center; line-height: 1.5rem; padding-left: 0.2rem; margin-bottom: 1rem;}
.store_show_block .collect span{display: block; }
.store_show_block.attrs{background: white; padding-top: 0rem; padding-bottom: 0rem;}
.store_show_block.attrs ul li{line-height: 3rem; color: #999999;}
.store_show_block.attrs ul li:first-child{border-bottom: solid 1px #DDDDDD;}

  
#footer{width: 100%; bottom: 0px; color: #999999; margin-top: -2rem; background: white;}
#footer table{width: 100%;}
#footer table tbody tr td{text-align: center; width: 20%;}
#footer table tbody tr td .iconfont{font-weight: bold; font-size: 2rem; width: 100%; display: inline-block;}
#footer .index_btn{width: 5rem; height: 4rem; -moz-border-radius: 5rem; -webkit-border-radius: 5rem; border-radius: 5rem; background: #eb4f38; color: white; margin: auto; padding-top: 1rem; text-align: center;}
#footer a{color: #999999;}  
  