body{background: #f8f8f8;}
a{text-decoration: none}
a:hover{text-decoration: none;}


@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: verdana;
  /*处理BUG*/
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none; }

a {
  text-decoration: none; }

li {
  list-style: none; }

/*全局设置字号*/
html {
  font-size: 10px; }

@media screen and (min-width: 320px) and (max-width: 375px) {
  html {
    font-size: 13px; } }
@media screen and (min-width: 376px) and (max-width: 414px) {
  html {
    font-size: 15px; } }
@media screen and (min-width: 415px) {
  html {
    font-size: 18px; } }
    
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: white;  
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: white;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: white;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: white;
}

/*开启硬件加速*/
.Ac {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/*常用配置*/
.wrap {
  max-width: 640px;
  margin: auto; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.hidden {
  display: none; }

.clear {
  clear: both; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto; }

.img-circle {
  border-radius: 50%; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.row {
  width: 100%;
  clear: both; }

.blank05 {
  height: 0.5rem;
  clear: both;
  overflow: hidden; 
  background: white;}

.blank1 {
  height: 1rem;
  clear: both;
  overflow: hidden; 
  background: white;}

.blank2 {
  height: 2rem;
  clear: both;
  overflow: hidden; 
  background: white;}

.bk-white {
  background: #FFFFFF; }

.bk-gray {
    background: #f8f8f8; }

.color-white {
      color: white!important; }      

.color-gray {
      color: #999999; }
      
.color-black_gray {
      color: #666666; }
      
.color-white_gray {
      color: #DDDDDD; }

.color-red {
  color: #f96751; }

.pr {
  position: relative; }

.pa {
  position: absolute; }

.pf {
  position: fixed; }

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }
  
.font_white{color: white;}
  
.banner-box {
  width: 100%;
  max-height: 9rem;
  overflow: hidden; }

.banner-box ul.banner-nr {
  width: 1000000px; }

.banner-box ul li {
  float: left; }

.banner-dian {
  z-index: 100px;
  left: 50%;
  top: 7rem; }

.banner-dian li {
  width: 0.6rem;
  height: 0.6rem;
  background: #e2dbdf;
  border-radius: 0.3rem;
  margin-left: 0.5rem; }

.banner-dian li.current {
  background: #FFFFFF; }
  

  
  
  
  
  
@font-face {font-family: "iconfont";
  src: url('/css/iconfont.ttf?t=1465310351') format('truetype');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;}
}
.icon-tubiao:before { content: "\e600"; }
.icon-zhinenghuaxuanpinicon5:before { content: "\e603"; }
.icon-dianhua:before { content: "\e601"; }
.icon-pan:before { content: "\e602"; }
.icon-shoucang:before { content: "\e604"; }
.icon-zuobiao:before { content: "\e605"; }
.icon-shouye:before { content: "\e609"; }
.icon-iconsvgtixianjilu:before { content: "\e60b"; }
.icon-jiantou-copy:before { content: "\e611"; }
.icon-youhuiquan:before { content: "\e60c"; }
.icon-dayuhao:before { content: "\e60a"; }
.icon-ecrmExchange:before { content: "\e60d"; }
.icon-dazheicon:before { content: "\e60e"; }
.icon-dingwei:before { content: "\e606"; }
.icon-xiaoxi:before { content: "\e607"; }
.icon-icon-copy-copy:before { content: "\e612"; }
.icon-icon-copy-copy1:before { content: "\e613"; }
.icon-huiyuanshu:before { content: "\e608"; }
.icon-shanghu:before { content: "\e60f"; }
.icon-arrowRight-copy:before { content: "\e614"; }
.icon-jiaoyijilu:before { content: "\e610"; }



.space1 {
  height: 1rem;
  clear: both;
  overflow: hidden; 
  border: solid 1px #dddddd;
  border-left: none;
  border-right: none;
  background: #F8F8F8;
  display: block;
}
.line1 {
  height: 0rem;
  clear: both;
  overflow: hidden; 
  border-bottom: solid 1px #dddddd;
  display: block;
}

  
  

  