#header{background: #f96751; height: 2.4rem; padding-top: 0.5rem;}
#header .area{float: left; font-size: 0.6rem; padding-left: 1rem; line-height: 1.5rem;}
#header .search .box{border: white solid 1px;height: 1.5rem; width:75%;  position: relative; border-radius: 15px; overflow: hidden;}
#header .search .input{border:none ;width: 250px; height:1.5rem; line-height: 1.5rem; padding-left: 10px;outline:none; background: #f96751; color: white;}
#header .search .btn{position: absolute; right: 0px; top: 0px; line-height: 1.5rem; width: 30px;}

.trade_categories ul{margin-top: 1rem;}  
.trade_categories ul li{width: 25%; float: left; text-align: center;}
.trade_categories ul li img{width: 50%;}



.info_list{width: 100%; }
.info_list .context{width: 98%; float: right;}
.info_list .context .header{width: 100%; height: 1.5rem; padding-bottom: 0.3rem; padding-top: 0.3rem;}
.info_list .context .header .title{border-left: solid 0.1rem #F96751; color: #F96751; padding-left: 0.5rem; line-height: 1.2rem;
}
.info_list .context .body{width: 100%;}
.info_list .context .body .info li{width: 100%; border-top: solid 1px #dddddd; padding-top: 1rem; padding-bottom: 1rem; }
.info_list .context .body .info li .img{float: left; width: 20%; height: 5rem; display: block;}
.info_list .context .body .info li .img img{width: 100%; height: 100%;}
.info_list .context .body .info li .img_card{float: left; width: 30%; height: 5rem; display: block;}
.info_list .context .body .info li .img_card img{width: 100%; height: 100%;}
.info_list .context .body .info li .content{float: left; height: 5rem; padding-left: 0.5rem;}
.info_list .context .body .info li .content .title{font-weight: bold; font-size: 1.5rem;}
.info_list .context .body .info li .content .desc{padding-top: 0.4rem; padding-bottom: 0.4rem;}
.info_list .context .body .info li .content .attrs{display: block; float: left;}


.trade_info_filter .context{width: 98%; float: right;}
.trade_info_filter .context .header{width: 100%; height: 1.5rem; padding-bottom: 0.3rem; padding-top: 0.3rem;}
.trade_info_filter .context .header .title{border-left: solid 0.1rem #F96751; color: #F96751; padding-left: 0.5rem; line-height: 1.2rem;
}
.trade_info_filter .context .body{width: 100%; border-top: solid 1px #dddddd; }
.trade_info_filter .context .body a{padding: 0.2rem; margin: 0.5rem 0.5rem 0.5rem 0rem; border: solid 1px #dfdfdf; display: inline-block; color: #999999; background: #f8f8f8;}
.trade_info_filter .context .body a.current{color: #f96751; background: #fdedeb; border: solid 1px #ec5b45;}

.trade_info_show{margin: 1rem; background: white;}
.trade_info_show .title{font-size: 1.5rem; font-weight: bold;}
.trade_info_show .price{padding-top: 0.5rem; padding-bottom: 0.5rem; border-bottom: solid 1px #dddddd;}
.trade_info_show .price .ago{float: right;}
.trade_info_show .attrs{width: 100%; border-bottom: solid 1px #dddddd;}
.trade_info_show .attrs li{width: 50%; float: left; margin: 0.5rem auto 0.5rem auto;}
.trade_info_show .act_links{width: 100%; margin: 0.5rem auto 0.5rem auto;}
.trade_info_show .act_links .left{width: 50%; float: left;}
.trade_info_show .act_links .right{width: 50%; float: right; text-align: right;}
.trade_info_show_content{width: 100%; }
.trade_info_show_content .context{width: 98%; float: right;}
.trade_info_show_content .context .header{width: 100%; height: 1.5rem; padding-bottom: 0.3rem; padding-top: 0.3rem;}
.trade_info_show_content .context .header .title{border-left: solid 0.1rem #F96751; color: #F96751; padding-left: 0.5rem; line-height: 1.2rem;
}
.trade_info_show_content .context .body{width: 100%;}

.card_show{width: 100%; background: white;}
.card_show .context{margin-left: 0.5rem;}
.card_show .context .logo{width: 100%;}
.card_show .context .logo img{height: 8rem;}
.card_show .context .header{width: 100%; height: 1.5rem; padding-bottom: 0.3rem; padding-top: 0.3rem;}
.card_show .context .header .title{border-left: solid 0.1rem #F96751; color: #F96751; padding-left: 0.5rem; line-height: 1.2rem;
}
.card_show .context .body{width: 100%; border-top: solid 1px #dddddd; }

.card_show .attrs{width: 100%; background: white;}
.card_show .attrs .context{margin-left: 0.5rem}
.card_show .attrs .context .attr{padding-top: 0.5rem; padding-bottom: 0.5rem; border-bottom: solid 1px #dddddd;}
.card_show_receive_btn{width: 90%; height: 3rem; line-height: 3rem; display: block; background: #eb4f38; color: white; font-size: 1.2rem; text-align: center; margin: 1rem auto 1rem auto;}

.card_list{width: 100%; background: white;}
.card_list li{width: 100%; margin-left: 0.5rem; margin-bottom: 0.5rem; padding-bottom: 0.5rem; border-bottom: solid 1px #dddddd; }
.card_list li .img{float: left; width: 35%; height: 5rem; display: block;}
.card_list li .img img{width: 100%; height: 100%;}
.card_list li .content{float: left; height: 5rem; padding-left: 0.5rem;}
.card_list li .content .title{font-weight: bold; font-size: 1.5rem;}
.card_list li .content .desc{padding-top: 0.4rem; padding-bottom: 0.4rem;}
.card_list li .content .phone{}

.area_list .header{background: #f96751; padding-left: 0.2rem; padding-top: 0.5rem; padding-bottom: 0.5rem;}
.area_list .initial_list{padding-left: 0.4rem; background: white;}
.area_list .initial_list .initial{color: black; font-size: 1.5rem; font-weight: bold; padding-bottom: 0.5rem; border-bottom: solid 1px #dddddd;}
.area_list .initial_list .initial span{font-size: 1rem; font-weight: normal;}  
.area_list .initial_list .districts{width: 100%;}
.area_list .initial_list .districts li{width: 30%; display: inline-block;}
.area_list .initial_list .districts li a{display: block; color: #666666; text-align: center; line-height: 2rem;}

.store_show_block{padding: 1rem; background: white;}
.store_show_block .title{font-size: 1.2rem; width: 80%; float: left;}
.store_show_block .collect{width: 15%; float: right; border-left: solid 1px #dddddd; text-align: center; line-height: 1.5rem; padding-left: 0.2rem; margin-bottom: 1rem;}
.store_show_block .collect span{display: block; }
.store_show_block.attrs{background: white; padding-top: 0rem; padding-bottom: 0rem;}
.store_show_block.attrs ul li{line-height: 3rem; color: #999999;}
.store_show_block.attrs ul li:first-child{border-bottom: solid 1px #DDDDDD;}
.store_show_block .icon{padding: 0.1rem; padding-left: 0.3rem; padding-right: 0.3rem;background: #f96751; -moz-border-radius: 0.3rem; -webkit-border-radius: 0.3rem; border-radius: 0.3rem; color: white;}
.store_show_block .more{float: right;}

.store_show_content{background: white;}
.store_show_content .header{width: 100%; border-bottom: solid 1px #dddddd;}
.store_show_content .header .tabs{padding-left: 1rem; padding-top: 0.5rem; padding-bottom: 0.5rem; background: white;}
.store_show_content .header .tabs li{float: left; line-height: 2rem; margin-right: 2rem;}
.store_show_content .header .tabs li.current{color: #f96751; border-bottom: solid 2px #f96751;}
.store_show_content .header .tabs li a{color: #999999;}

.store_show_content .context{padding: 1rem; color: #999999;}
  
	

#footer{width: 100%; bottom: 0px; color: #999999; margin-top: -2rem; background: white;}
#footer table{width: 100%;}
#footer table tbody tr td{text-align: center; width: 20%;}
#footer table tbody tr td .iconfont{font-weight: bold; font-size: 2rem; width: 100%; display: inline-block;}
#footer .index_btn{width: 5rem; height: 4rem; -moz-border-radius: 5rem; -webkit-border-radius: 5rem; border-radius: 5rem; background: #eb4f38; color: white; margin: auto; padding-top: 1rem; text-align: center;}
#footer a{color: #999999;}  