<div class="account_book">
  <ul class="list">
    <li class="color-gray clearfix">
      提现：<span class="color-red">￥500.00</span>
      <span class="date color-white_gray">2015-01-01</span>
    </li>
    <div class="line1"></div>
    <li class="color-black_gray">
      微信零钱提现
    </li>
    <div class="space1"></div>
  </ul>
  <ul class="list">
    <li class="color-gray clearfix">
      提现：<span class="color-red">￥500.00</span>
      <span class="date color-white_gray">2015-01-01</span>
    </li>
    <div class="line1"></div>
    <li class="color-black_gray">
      微信零钱提现
    </li>
    <div class="space1"></div>
  </ul>
  <ul class="list">
    <li class="color-gray clearfix">
      提现：<span class="color-red">￥500.00</span>
      <span class="date color-white_gray">2015-01-01</span>
    </li>
    <div class="line1"></div>
    <li class="color-black_gray">
      微信零钱提现
    </li>
    <div class="space1"></div>
  </ul>
</div>