<div class="header">
  <div class="area">
    北京市
  </div>
  <div class="search">
    <div style="border:#ff0000 solid 1px;height: 30px; width:300px;  position: relative; border-radius: 15px; overflow: hidden;">
     <input type="text" style="border:none ;width: 250px; height:28px; line-height: 28px; padding-left: 10px;outline:none">
     	<span  style="position: absolute; right: 0px; top: 0px; height: 30px; width: 30px;">
     		搜
     		<img src="" />
     	</span>
    </div>
  </div>
</div>