<%@hidden_search_bar = true%>

<div class="area_list">
  <div class="header color-white">
    按字母顺序
  </div>
	<%@cities.each do |group|%>
  <div class="initial_list">
    <div class="initial">
      <%= group[0].upcase%><span class="color-gray">（以开<%= group[0].upcase%>头的城市）</span>
    </div>
    <ul class="districts">
			<%group[1].each do |city|%>
      <li><a href="<%= use_areas_path(code: city.code, name: city.name)%>"><%= city.name%></a></li>
			<%end%>
    </ul>
  </div>
  <div class="blank05"></div>
  <div class="space1"></div>
	<%end%>

</div>