<%@hidden_search_bar = true%>
<div class="area_list">
  <div class="header color-white">
    按字母顺序
  </div>
  
  <div class="initial_list">
    <div class="initial">
      A<span class="color-gray">（以A开头的城市）</span>
    </div>
  </div>
</div>