<%@hidden_search_bar = true%>
<div class="area_list">
  <div class="header color-white">
    按字母顺序
  </div>
  
  <div class="initial_list">
    <div class="initial">
      A<span class="color-gray">（以A开头的城市）</span>
    </div>
    <ul class="districts">
      <li><a href="#">按图</a></li>
      <li><a href="#">按图</a></li>
      <li><a href="#">按图</a></li>
      <li><a href="#">按图</a></li>
      <li><a href="#">按图</a></li>
    </ul>
  </div>


  <div class="blank05"></div>
  <div class="space1"></div>
  
  <div class="initial_list">
    <div class="initial">
      A<span class="color-gray">（以A开头的城市）</span>
    </div>
    <ul class="districts">
      <li><a href="#">按图</a></li>
      <li><a href="#">按图</a></li>
      <li><a href="#">按图</a></li>
      <li><a href="#">按图</a></li>
      <li><a href="#">按图</a></li>
    </ul>
  </div>
</div>