<%@title = params[:title]||"微信充值"%>

<div class="recharge">
  <div class="new">
    <div class="money color-gray">
      <span class="title">充值金额：</span>
      <span>
        <input type="text" class="color-black_gray" placeholder="请输入充值金额" />
      </span>
      <div class="line1"></div>
    </div>
    <div class="blank1"></div>
    <div class="btn">
      <input type="submit" value="充值" />
    </div>
  </div>
</div>