.index .header{
	background: url('/images/member_index_header_bg.jpg');
  padding: 1px;
}
.index .header .avatar{margin: 2rem auto auto auto; width: 6rem; height: 6rem; border: solid 1px white; -moz-border-radius: 6rem; -webkit-border-radius: 6rem; border-radius: 6rem; overflow: hidden;}
.index .header .avatar img{width: 6.7rem; height: 6.7rem; margin: -0.3rem;}
.index .header .name{margin: 0.5rem auto auto auto; font-weight: bold; color: white; text-align: center;}
.index .header .balance{margin: 0.5rem auto 1rem auto; color: white; text-align: center;}
.index .header .balance font{ opacity: 0.8}
.index .header .balance span{font-weight: bold; display: block;}

.index .block_nav{width: 100%; background: white;}
.index .block_nav ul{width: 100%;}
.index .block_nav ul li{width: 25%; float: left; text-align: center;}
.index .block_nav ul li a{color: #999999}
.index .block_nav ul li img{width: 70%;}

.index .list_nav ul{width: 100%; background: white;}
.index .list_nav ul li{width: 50%; float: left; line-height: 3rem;}
.index .list_nav ul li .iconfont{padding-left: 1rem; padding-right: 0.1rem;}
.index .list_nav ul li a{color: #999999}


.account_book .list{width: 100%;}
.account_book .list li{background: white; padding: 1rem;}
.account_book .list li .date{float: right;}


.recharge .new{background: white; padding: 1rem;}
.recharge .new .money{line-height: 3rem;}
.recharge .new .money input{border: none;}
.recharge .new .btn{}
.recharge .new .btn input[type=submit]{width: 100%; margin: 0.5rem auto 0.5rem auto; background: #eb4f38; color: white; text-align: center; line-height: 3rem; border: none;}


.collect .index .list{width: 100%;}
.collect .index .list li{padding: 1rem; background: white; border-bottom: solid 1px #dddddd;}
.collect .index .list li .img{float: left; width: 20%; height: 5rem; display: block;}
.collect .index .list li .img img{width: 100%; height: 100%;}.collect .context .body .info li .content{float: left; height: 5rem; padding-left: 0.5rem;}
.collect .index .list li .content{float: left; height: 5rem; padding-left: 0.5rem; width: 78%}
.collect .index .list li .content .title{font-weight: bold; font-size: 1.2rem;}
.collect .index .list li .content .title .date{float: right; font-weight: initial; font-size: 1rem; color: #DDDDDD;}
.collect .index .list li .content .desc{padding-top: 0.4rem; padding-bottom: 0.4rem;}
.collect .index .list li .content .attrs{display: block; float: left;}
.collect .index .list li .btns{width: 100%; padding-top: 1rem; padding-bottom: 1rem; clear: both;}
.collect .index .list li .btns .del{padding: 0.2rem; background: #fff5f4; border: solid 1px #f96751; color: #f96751; text-align: center; float: right; padding-left: 1rem; padding-right: 1rem;}

.trade_info .form{padding: 1rem; background: white;}
.trade_info .form .input{border-bottom: solid 1px #dddddd; padding: 0.3rem; overflow:hidden;}
.trade_info .form .require{color: red; display:block; float:left;line-height:2rem;}
.trade_info .form .title{color: #999999; line-height: 2rem; padding-left: 0.2rem; padding-right: 0.5rem; display:block;float:left;} 
.trade_info .form input{color: #dddddd; line-height: 2rem; border: none; width: 17rem;}
.trade_info .form textarea{color: #dddddd; line-height: 2rem; border: none; width: 77%;}
.trade_info .form .iframe{display: inline-block; width: 15rem;}
.trade_info .form .btn input[type=submit]{width: 100%; margin: 0.5rem auto 0.5rem auto; background: #eb4f38; color: white; text-align: center; line-height: 3rem; border: none;}
.trade_info .index .list{width: 100%;}
.trade_info .index .list li{padding: 1rem; background: white; border-bottom: solid 1px #dddddd;}
.trade_info .index .list li a{color: black;}
.trade_info .index .list li .img{float: left; width: 20%; height: 5rem; display: block;}
.trade_info .index .list li .img img{width: 100%; height: 100%;}.collect .context .body .info li .content{float: left; height: 5rem; padding-left: 0.5rem;}
.trade_info .index .list li .content{float: left; height: 5rem; padding-left: 0.5rem; width: 78%}
.trade_info .index .list li .content .title{font-weight: bold; font-size: 1.2rem;}
.trade_info .index .list li .content .title .date{float: right; font-weight: initial; font-size: 1rem; color: #DDDDDD;}
.trade_info .index .list li .content .desc{padding-top: 0.4rem; padding-bottom: 0.4rem;}
.trade_info .index .list li .content .attrs{display: block; float: left;}
.trade_info .index .list li .btns{width: 100%; padding-top: 1rem; padding-bottom: 1rem; clear: both;}
.trade_info .index .list li .btns .btn{padding: 0.2rem; background: #fff5f4; border: solid 1px #f96751; color: #f96751; text-align: center; float: right; padding-left: 1rem; padding-right: 1rem; margin-left: 0.5rem;}

.trade_info .new{}
.trade_info .new .menu_list {
	width: 100%;
}
.trade_info .new_category .menu_head {
  background: white;
  color: #eb4f38;
	padding: 1rem;
	position: relative;
  border-bottom: solid 1px #dddddd;
}
.trade_info .new_category .menu_body {
	padding: 1rem;
	display:none;
  background: #f8f8f8;
}
.trade_info .new_category .menu_body a {
  display: inline-block;
  margin-left: 1rem;
  color: #999999;
}
.trade_info .new_category .right_arrow{float: right; color: #999999;}

.store .form{}
.store .form{padding: 1rem; background: white;}
.store .form .input{border-bottom: solid 1px #dddddd; padding: 0.3rem;}
.store .form .require{color: red;}
.store .form .title{color: #999999; line-height: 2rem; padding-left: 0.2rem; padding-right: 0.5rem;}
.store .form input{color: #dddddd; line-height: 2rem; border: none;}
.store .form textarea{color: #dddddd; line-height: 2rem; border: none; width: 77%;}
.store .form .btn input[type=submit]{width: 100%; margin: 0.5rem auto 0.5rem auto; background: #eb4f38; color: white; text-align: center; line-height: 3rem; border: none;}

.card .index .list{width: 100%; background: white;}
.card .index .list li{width: 100%; margin-left: 0.5rem; margin-bottom: 0.5rem; padding-bottom: 0.5rem; border-bottom: solid 1px #dddddd; }
.card .index .list li .img{float: left; width: 35%; height: 5rem; display: block;}
.card .index .list li .img img{width: 100%; height: 100%;}
.card .index .list li .content{float: left; height: 5rem; padding-left: 0.5rem;}
.card .index .list li .content .title{font-weight: bold; font-size: 1.5rem;}
.card .index .list li .content .desc{padding-top: 0.4rem; padding-bottom: 0.4rem;}
.card .index .list li .content .phone{}
  
.list_empty{padding-top: 5rem; padding-bottom: 5rem; background: white; text-align: center;}
.list_empty a{color: red;}