<%@title = params[:title]||"发布信息"%>

<div class="trade_info">
  <%= form_for @trade_info, url: member_trade_infos_path do |f|%>
  <%= hidden_field_tag :c, params[:c]%>
    <div class="form">
  		<%= render :partial => 'form', :locals => {f: f, trade_info: @trade_info, attrs: @attrs }  %>
      <div class="btn">
        <input type="submit" value="发布" />
      </div>
    </div>
  <%end%>
</div>

