<div id="footer" class="wrap pr" style="position: fixed; bottom: 0; left: 0">
  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <a href="/">
          <span class="iconfont">&#xe609;</span>
          首页
        </a>
      </td>
      <td>
				<a href="<%= new_category_member_trade_infos_path%>">
          <span class="iconfont">&#xe602;</span>
          发布
				</a>
      </td>
      <td>
        <div class="index_btn">
          <a href="/" class="color-white">
            <span class="iconfont">&#xe607;</span>
            客服
          </a>
        </div>
      </td>
      <td>
        <a href="<%= member_root_path%>">
          <span class="iconfont">&#xe608;</span>
          会员
        </a>
      </td>
      <td>
        <a href="/stores">
          <span class="iconfont">&#xe606;</span>
          找商家
        </a>
      </td>
    </tr>
  </table>
</div>