<!DOCTYPE html>
<html>
  <head>
    <title>Jilin365</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href="/css/base.css" rel="stylesheet" type="text/css">
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="wrap">
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
